USE [master]
GO
/****** Object:  Database [dblasalud]    Script Date: 8/6/2022 10:49:00 ******/
CREATE DATABASE [dblasalud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dblasalud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dblasalud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dblasalud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dblasalud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dblasalud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dblasalud]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[idcategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[idcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[DUI] [varchar](9) NULL,
	[nombres] [varchar](50) NOT NULL,
	[primerapellido] [varchar](50) NOT NULL,
	[segundoapellido] [varchar](50) NOT NULL,
	[tercerapellido] [varchar](50) NULL,
	[direccion] [varchar](50) NOT NULL,
	[correo] [varchar](50) NULL,
	[telefono] [varchar](10) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[correlativo] [int] IDENTITY(1,1) NOT NULL,
	[no_factura] [int] NOT NULL,
	[idmedicamento] [int] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[precio_unitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_detalle_factura] PRIMARY KEY CLUSTERED 
(
	[correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[idmedicamento] [int] IDENTITY(1,1) NOT NULL,
	[idcategoria] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[stock] [decimal](18, 2) NOT NULL,
	[precio_compra] [decimal](18, 2) NOT NULL,
	[precio_venta] [decimal](18, 2) NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_medicamentos] PRIMARY KEY CLUSTERED 
(
	[idmedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idususario] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[primerapellido] [varchar](50) NOT NULL,
	[segundoapellido] [varchar](50) NOT NULL,
	[tercerapellido] [varchar](50) NULL,
	[DUI] [varchar](9) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[acceso] [varchar](1) NOT NULL,
 CONSTRAINT [PK_ususarios] PRIMARY KEY CLUSTERED 
(
	[idususario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta_factura](
	[no_factura] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[forma_pago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[no_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (1, N'Analgésicos')
INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (2, N'Antialérgicos')
INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (4, N'Antiácidos ')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([idcliente], [DUI], [nombres], [primerapellido], [segundoapellido], [tercerapellido], [direccion], [correo], [telefono]) VALUES (14, N'234567875', N'Luis Mario', N'Polanco', N'Bolaños', N'', N'Santa Ana', N'luis100@gmail.com', N'789625463')
INSERT [dbo].[cliente] ([idcliente], [DUI], [nombres], [primerapellido], [segundoapellido], [tercerapellido], [direccion], [correo], [telefono]) VALUES (15, N'345675453', N'Juan Carlos', N'Perez', N'Aviles', N'', N'Sonsonate', N'juanca@32gmail.com', N'76542345')
INSERT [dbo].[cliente] ([idcliente], [DUI], [nombres], [primerapellido], [segundoapellido], [tercerapellido], [direccion], [correo], [telefono]) VALUES (17, N'', N'Jacquelinne Fatima', N'Castro', N'Moran', N'', N'Metapan la frontera', N'moran@gmail.com', N'78945612')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_factura] ON 

INSERT [dbo].[detalle_factura] ([correlativo], [no_factura], [idmedicamento], [cantidad], [precio_unitario]) VALUES (18, 13, 12, CAST(2.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_factura] ([correlativo], [no_factura], [idmedicamento], [cantidad], [precio_unitario]) VALUES (19, 13, 8, CAST(4.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_factura] ([correlativo], [no_factura], [idmedicamento], [cantidad], [precio_unitario]) VALUES (20, 13, 5, CAST(4.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[detalle_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[medicamentos] ON 

SET IDENTITY_INSERT [dbo].[medicamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idususario], [nombres], [primerapellido], [segundoapellido], [tercerapellido], [DUI], [direccion], [correo], [telefono], [login], [password], [acceso]) VALUES (1, N'Luis Mario', N'Polanco', N'Bolaños', NULL, N'123456987', N'Santa Ana', N'luis@gmail.com', N'70662203', N'luis', N'123', N'1')
INSERT [dbo].[usuarios] ([idususario], [nombres], [primerapellido], [segundoapellido], [tercerapellido], [DUI], [direccion], [correo], [telefono], [login], [password], [acceso]) VALUES (2, N'Administrador', N'Administrador', N'Administrador', N'Administrador', N'111111111', N'Santa Ana', N'admin@lasalud.com', N'70668291', N'admin', N'admin', N'1')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[venta_factura] ON 

INSERT [dbo].[venta_factura] ([no_factura], [idcliente], [fecha_venta], [forma_pago]) VALUES (13, 14, CAST(N'2022-05-20' AS Date), N'BITCOIN')
INSERT [dbo].[venta_factura] ([no_factura], [idcliente], [fecha_venta], [forma_pago]) VALUES (14, 18, CAST(N'2022-05-20' AS Date), N'Efectivo')
INSERT [dbo].[venta_factura] ([no_factura], [idcliente], [fecha_venta], [forma_pago]) VALUES (1002, 18, CAST(N'2022-05-31' AS Date), N'Efectivo')
SET IDENTITY_INSERT [dbo].[venta_factura] OFF
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalle_factura_medicamentos] FOREIGN KEY([idmedicamento])
REFERENCES [dbo].[medicamentos] ([idmedicamento])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [FK_detalle_factura_medicamentos]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalle_factura_venta_factura] FOREIGN KEY([no_factura])
REFERENCES [dbo].[venta_factura] ([no_factura])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [FK_detalle_factura_venta_factura]
GO
ALTER TABLE [dbo].[medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_medicamentos_categoria] FOREIGN KEY([idcategoria])
REFERENCES [dbo].[categoria] ([idcategoria])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medicamentos] CHECK CONSTRAINT [FK_medicamentos_categoria]
GO
ALTER TABLE [dbo].[venta_factura]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([idcliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[venta_factura] CHECK CONSTRAINT [FK_venta_cliente]
GO
/****** Object:  StoredProcedure [dbo].[aumentar_stock]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[aumentar_stock]
@idmedicamento as integer,
@cantidad as decimal (18,2)
as
update medicamentos set stock=stock+@cantidad where idmedicamento=@idmedicamento
GO
/****** Object:  StoredProcedure [dbo].[disminuir_stock]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[disminuir_stock]
@idmedicamento as integer,
@cantidad as decimal (18,2)
as
update medicamentos set stock=stock-@cantidad where idmedicamento=@idmedicamento
GO
/****** Object:  StoredProcedure [dbo].[editar_categoria]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_categoria]
@idcategoria int,
@nombre_categoria varchar(50)
as
update categoria set nombre_categoria=@nombre_categoria
where idcategoria=@idcategoria
GO
/****** Object:  StoredProcedure [dbo].[editar_cliente]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_cliente]
@idcliente int,
@DUI varchar(9),
@nombres varchar(50),
@primerapellido varchar(50),
@segundoapellido varchar(50),
@tercerapellido varchar(50),
@direccion varchar(50),
@correo varchar(50),
@telefono varchar(10)
as
update cliente 
set DUI=@DUI, nombres = @nombres, primerapellido = @primerapellido, segundoapellido = @segundoapellido,
	tercerapellido = @tercerapellido, direccion = @direccion, correo = @correo, telefono = @telefono
where idcliente = @idcliente
GO
/****** Object:  StoredProcedure [dbo].[editar_detalle_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_detalle_factura]
@correlativo as integer,
@no_factura as integer,
@idmedicamento as integer,
@cantidad as decimal (18,2),
@precio_unitario as decimal(18,2)
as 
update detalle_factura set no_factura=@no_factura, idmedicamento=@idmedicamento,cantidad=@cantidad,precio_unitario=@precio_unitario
where correlativo=@correlativo
GO
/****** Object:  StoredProcedure [dbo].[editar_medicamentos]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_medicamentos]
		@idmedicamento as integer,
		@idcategoria integer,
		@nombre varchar(50),
		@descripcion varchar(50),
		@stock decimal(18,2),
		@precio_compra decimal(18,2),
		@precio_venta decimal(18,2),
		@fecha_vencimiento date,
		@imagen image
as
update medicamentos set idcategoria=@idcategoria,
						nombre=@nombre,
						descripcion=@descripcion,
						stock=@stock,
						precio_compra=@precio_compra,
						precio_venta=@precio_venta,
						fecha_vencimiento=@fecha_vencimiento,
						imagen=@imagen

where idmedicamento=@idmedicamento
GO
/****** Object:  StoredProcedure [dbo].[editar_venta]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_venta]
@no_factura as integer,
@idcliente as integer,
@fecha_venta as date,
@forma_pago as varchar(50)
as
update venta_factura set idcliente=@idcliente,fecha_venta=@fecha_venta,forma_pago=@forma_pago
where no_factura=@no_factura
GO
/****** Object:  StoredProcedure [dbo].[eliminar_categoria]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_categoria]
@idcategoria int
as
delete from categoria
where idcategoria=@idcategoria
GO
/****** Object:  StoredProcedure [dbo].[eliminar_cliente]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_cliente]
@idcliente int
as
delete from cliente where idcliente=@idcliente
GO
/****** Object:  StoredProcedure [dbo].[eliminar_detalle_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[eliminar_detalle_factura]
@correlativo as integer
as 
delete from detalle_factura where correlativo=@correlativo
GO
/****** Object:  StoredProcedure [dbo].[eliminar_medicamentos]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_medicamentos]
@idmedicamento integer
as
delete from medicamentos where idmedicamento=@idmedicamento
GO
/****** Object:  StoredProcedure [dbo].[eliminar_venta]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_venta]
@no_factura as integer
as 
delete from venta_factura where no_factura=@no_factura
GO
/****** Object:  StoredProcedure [dbo].[generar_comprobante]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[generar_comprobante]
@no_factura int
as
SELECT    dbo.venta_factura.no_factura, dbo.cliente.nombres, dbo.cliente.primerapellido, dbo.cliente.segundoapellido, dbo.cliente.DUI, dbo.venta_factura.fecha_venta, dbo.venta_factura.forma_pago, 
                      dbo.medicamentos.nombre, dbo.detalle_factura.cantidad, dbo.detalle_factura.precio_unitario,
					  (dbo.detalle_factura.cantidad * dbo.detalle_factura.precio_unitario) AS Total_Parcial
FROM         dbo.venta_factura INNER JOIN
                      dbo.detalle_factura ON dbo.venta_factura.no_factura = dbo.detalle_factura.no_factura INNER JOIN
                      dbo.medicamentos ON dbo.detalle_factura.idmedicamento = dbo.medicamentos.idmedicamento INNER JOIN
                      dbo.cliente ON dbo.venta_factura.idcliente = dbo.cliente.idcliente

					  where dbo.venta_factura.no_factura=@no_factura
GO
/****** Object:  StoredProcedure [dbo].[insertar_categoria]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_categoria]
@nombre_categoria varchar(50)
as
insert into categoria (nombre_categoria) values (@nombre_categoria)
GO
/****** Object:  StoredProcedure [dbo].[insertar_cliente]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertar_cliente]
@DUI varchar(9),
@nombres varchar(50),
@primerapellido varchar(50),
@segundoapellido varchar(50),
@tercerapellido varchar(50),
@direccion varchar(50),
@correo varchar(50),
@telefono varchar(10)
as 
insert into cliente (DUI,nombres,primerapellido,segundoapellido,tercerapellido,direccion,correo,telefono)
values (@DUI,@nombres,@primerapellido,@segundoapellido,@tercerapellido,@direccion,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[insertar_detalle_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_detalle_factura]
@no_factura as integer,
@idmedicamento as integer,
@cantidad as decimal (18,2),
@precio_unitario as decimal(18,2)
as
insert into detalle_factura (no_factura,idmedicamento,cantidad,precio_unitario)
values (@no_factura,@idmedicamento,@cantidad,@precio_unitario)
GO
/****** Object:  StoredProcedure [dbo].[insertar_medicamentos]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_medicamentos]
		@idcategoria integer,
		@nombre varchar(50),
		@descripcion varchar(50),
		@stock decimal(18,2),
		@precio_compra decimal(18,2),
		@precio_venta decimal(18,2),
		@fecha_vencimiento date,
		@imagen image
as
insert into medicamentos
		(idcategoria,
		nombre,
		descripcion,
		stock,
		precio_compra,
		precio_venta,
		fecha_vencimiento,
		imagen)
values (@idcategoria,
		@nombre,
		@descripcion,
		@stock,
		@precio_compra,
		@precio_venta,
		@fecha_vencimiento,
		@imagen)
GO
/****** Object:  StoredProcedure [dbo].[insertar_venta]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_venta]
@idcliente as integer,
@fecha_venta as date,
@forma_pago as varchar(50)
as 
insert into venta_factura(idcliente,fecha_venta,forma_pago)
values(@idcliente,@fecha_venta,@forma_pago)
GO
/****** Object:  StoredProcedure [dbo].[mostrar_categoria]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrar_categoria]
as
select *from categoria 
order by idcategoria desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_clientes]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_clientes]
as
select * from cliente order by idcliente
GO
/****** Object:  StoredProcedure [dbo].[mostrar_detalle_factura]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_detalle_factura]
as
SELECT    dbo.detalle_factura.correlativo, dbo.detalle_factura.no_factura, dbo.detalle_factura.idmedicamento, dbo.medicamentos.nombre, dbo.detalle_factura.cantidad, dbo.detalle_factura.precio_unitario
FROM         dbo.detalle_factura INNER JOIN
                      dbo.medicamentos ON dbo.detalle_factura.idmedicamento = dbo.medicamentos.idmedicamento 
					  order by dbo.detalle_factura.correlativo desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_medicamentos]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_medicamentos]
as
select 
		med.idmedicamento,
		med.idcategoria,
		cat.nombre_categoria,
		med.nombre,
		med.descripcion,
		med.stock,
		med.precio_venta,
		med.precio_compra,
		med.fecha_vencimiento,
		med.imagen
from medicamentos med 
inner join categoria cat on med.idcategoria=cat.idcategoria
order by med.idmedicamento desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_venta]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_venta]
as
SELECT    dbo.venta_factura.no_factura, dbo.venta_factura.idcliente, dbo.cliente.primerapellido, dbo.cliente.segundoapellido, dbo.cliente.DUI, dbo.venta_factura.fecha_venta, dbo.venta_factura.forma_pago
FROM         dbo.venta_factura INNER JOIN
                      dbo.cliente ON dbo.venta_factura.idcliente = dbo.cliente.idcliente
					  order by dbo.venta_factura.no_factura desc
GO
/****** Object:  StoredProcedure [dbo].[validar_usuario]    Script Date: 8/6/2022 10:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[validar_usuario]
@login varchar(50),
@password varchar(50)
as
select * from usuarios
where login=@login and password=@password and acceso ='1'
GO
USE [master]
GO
